:root {
  --background: #ffffff;
  --backgroundDark: #989898;
  --border: #c0c0c0;
  --button: #585858;
  --shade: #00000020;
  --shadeLight: #00000018;
  --shadeDark: #00000030;
  --text: #202020;
  --textLight: #808080;
  --textButton: #fafafa;
}
