@import './colors.css';
@import './fonts.css';
@import './reset.css';
@import './sizes.css';

:root {
}

body {
  --handleWidth: 50px;
  --noteHeight: calc(3.6em + 2 * var(--size1));

  font-family: var(--fontRegular);
  font-size: var(--fontSize);
  line-height: 1.2em;
}
