.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--backgroundDark);
}

.version {
  position: absolute;
  bottom: var(--size0);
  right: var(--size8);
  color: var(--textLight);
  font-size: var(--fontSizeSmall);
}
