.test {
  position: fixed;
  top: var(--size1);
  left: var(--size1);
  background: gray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--size1);
  padding: var(--size1);
}

.testBox {
  padding: var(--size1);
  width: 150px;
  height: 150px;
  background: white;
}

.testIcon {
  background: #0004;
  fill: red;
  /*
  stroke-width: 1px;
  stroke: black;
  transform: rotate(90deg);
  */
}

.button {
  width: var(--size5);
  height: var(--size5);
  border-radius: 50%;
  background: var(--button);
  fill: var(--textButton);
}

.button:active {
  filter: brightness(80%);
}

.add {
  position: fixed;
  bottom: var(--size1);
  right: var(--size1);
}

.back {
}

.menu {
}

.revert {
  position: fixed;
  bottom: var(--size1);
  left: var(--size1);
}
