.button {
  width: var(--size5);
  height: var(--size5);
  border-radius: 50%;
  background: var(--button);
  fill: var(--textButton);
}

.button:active {
  filter: brightness(80%);
}

.add {
  position: fixed;
  bottom: var(--size1);
  right: var(--size1);
}

.back {
  position: fixed;
  bottom: var(--size1);
  left: var(--size1);
}

.menu {
}

.revert {
  position: fixed;
  top: var(--size1);
  left: var(--size1);
}

.iconTest {
  position: fixed;
  top: var(--size6);
  left: var(--size6);
  width: 300px;
  height: 300px;
  padding: var(--size2);
  background: white;
}

.icon {
  width: 100%;
  background: #0001;
  fill: #811;
}
