.button {
  width: var(--size6);
  height: var(--size6);
  border-radius: 50%;
  background: var(--button);
  border: 1px solid var(--border);
  z-index: 100;
}

.button:hover {
  filter: brightness(110%);
}

.button:active {
  filter: brightness(80%);
}

.add {
  position: absolute;
  bottom: var(--size1);
  right: var(--size1);
}

.back {
}

.menu {
}

.revert {
}
