.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--backgroundDark);
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space {
  flex-grow: 1;
}

.note {
  height: calc(3.6em + 2 * var(--size1));;
  border: 2px solid var(--border);
  line-height: 1.2em;
  display: flex;
  justify-content: space-between;
}

.noteButtons {
  width: var(--handleWidth);
  background: var(--shadeLight);
}

.textarea {
  flex-grow: 1;
  padding: var(--size1);
  border: 0;
  background: transparent;
  font-family: var(--fontFamily);
  font-size: 1em;
  overflow: hidden;
  resize: none;
}

.buttons {
  padding: var(--size2) var(--size1);
  display: flex;
  justify-content: flex-end;
}

.button {
  border-radius: var(--radius);
  padding: var(--size1) var(--size2);
  background: var(--button);
  color: var(--textButton);
}

.button:nth-child(n+2) {
  margin-left: var(--size1);
}
