.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background);
}

.note {
  flex-shrink: 0;
  margin: var(--size4) 0;
  display: flex;
}

.bigButton {
  border-radius: var(--radiusLarge);
  margin: var(--size2);
  background: var(--button);
  color: var(--textButton);
}

.color {
  flex-grow: 2;
}

.cancel {
  flex-grow: 1;
}

.save {
  flex-grow: 2;
}

.bigButton + .bigButton {
  margin-top: 0;
}
