.controls {
  margin-bottom: var(--size4);
}

.status {
  height: var(--noteHeight);
  padding: var(--size1);
  border: 1px solid var(--background);
  border-radius: var(--radius);
  margin-top: var(--size2);
  overflow-y: scroll;
}
