.notes {
  margin-bottom: var(--size6);
}

.parentSpacer {
  height: var(--size6);
}

.parent {
  min-height: var(--noteHeight);
  margin: var(--size0);
  margin-bottom: var(--size1);
  display: flex;
  border: var(--size0) solid var(--highlight);
}

.handle {
  flex-shrink: 0;
  width: var(--handleWidth);
  background: var(--shadeLight);
}

.text {
  flex-grow: 1;
  padding: var(--size1);
  user-select: none;
  white-space: pre-wrap;
}

