.note {
  margin-top: var(--size0);
  margin-right: var(--size0);
  margin-left: var(--size0);
  user-select: none;
}

.noteDragging {
  margin-top: var(--noteHeight);
  height: 0;
}

.content {
  display: flex;
}

.contenDragging {
  display: none;
}
